.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: -10px;
  width: 100px;
  height: 65px;
}
.navbar {
  padding-left: 0px;
  padding-right: 0px;
}
.websitecolour {
  background-color: bisque;
  margin-bottom: 15px;
}
.navwording {
  font-family: "Epilogue", sans-serif;
  font-weight: bold;
  color: black;
  font-size: 20px;
}
h1 {
  padding-top: 20px;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}
h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
h3 {
  margin: 20px;
  font-family: "Epilogue", sans-serif;
  font-weight: bold;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  margin: 20px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 350px;
  border-radius: 5%;
}
.fonthovercolour :hover {
  color: rgb(117, 116, 116);
}
.sgmap {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.centralizesearchfeat {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {

}
