svg path:hover {
  fill: black;
  transition: 0.5s;
  cursor: pointer;
}

.mapc {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h3 {
  text-align: center;
  font-weight: 400;
}

h2 {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
}

h1 {
  font-family: "Epilogue", sans-serif;
  font-weight: 600;
}

.container {
  display: flex;
  flex-flow: row, wrap;
  padding-left: -30px;
  margin-left: 10px;
  justify-content: center;
}

.container p {
  background-color: white;
  padding: 10px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 0 5px;
}

.container p i {
  color: rgba(255, 21, 0, 1);
  font-weight: 1000;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
}

.container p em {
  color: rgba(0, 255, 55, 1);
  font-weight: 1000;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
}

canvas {
  padding-top: 20px;
}

.bcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

legend {
  padding-top: 150px;
}

.Africa {
  padding: 0;
  padding-top: 20px;
}

@media screen and (max-width: 400px) {
  .legend {
    display: flex;
    flex-flow: row, nowrap;
    margin: 0 auto;
    height: 30px;
  }
  .container p {
    background-color: white;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 0 5px;
  }

  .container p i {
    color: rgba(255, 21, 0, 1);
    font-weight: 1000;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
  }

  .container p em {
    color: rgba(0, 255, 55, 1);
    font-weight: 1000;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .legend {
    display: flex;
    flex-flow: row, nowrap;
    margin: 0 auto;
    height: 30px;
  }
  .textlegend {
    font-size: 15px;
    display: flex;
    margin: 0 auto;
    margin-left: 0px;
    height: 60px;
    width: 550px;
  }
  .nodata {
    width: 40px;
    background-color: #eee;
    color: #eee;
    border: solid #000;
    border-width: 1 1;
    border-width: thin;
    margin-left: 0px;
  }

  .spacer {
    width: 30px;
    color: bisque;
  }

  .hun {
    width: 40px;
    background-color: #fff7fb;
    color: #eee;
    border: solid #000;
    border-width: 1 1;
    border-width: thin;
  }

  .fivehun {
    width: 40px;
    background-color: #ece7f2;
    color: #eee;
    border: solid #000;
    border-width: 1 1;
    border-width: thin;
  }

  .thou {
    width: 40px;
    background-color: #d0d1e6;
    color: #eee;
    border: solid #000;
    border-width: 1 1;
    border-width: thin;
  }

  .fivthou {
    width: 40px;
    background-color: #a6bddb;
    color: #eee;
    border: solid #000;
    border-width: 1 1;
    border-width: thin;
  }

  .tenthou {
    width: 40px;
    background-color: #74a9cf;
    color: #eee;
    border: solid #000;
    border-width: 1 1;
    border-width: thin;
  }

  .fifthou {
    width: 40px;
    background-color: #3690c0;
    color: #eee;
    border: solid #000;
    border-width: 1 1;
    border-width: thin;
  }

  .hundthou {
    width: 40px;
    background-color: #0570b0;
    color: #eee;
    border: solid #000;
    border-width: 1 1;
    border-width: thin;
  }

  .halfmil {
    width: 30px;
    background-color: #045a8d;
    color: #eee;
    border: solid #000;
    border-width: 1 1;
    border-width: thin;
  }

  .million {
    width: 30px;
    background-color: #023858;
    color: #eee;
    border: solid #000;
    border-width: 1 1;
    border-width: thin;
  }

  .container {
    display: flex;
    justify-content: center;
    margin-left: 0;
    padding: 0px;
  }

  .container p {
    background-color: white;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 0 5px;
  }

  .container p i {
    color: rgba(255, 21, 0, 1);
    font-weight: 1000;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
  }

  .container p em {
    color: rgba(0, 255, 55, 1);
    font-weight: 1000;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
  }
}
