div.gallery {
    margin: 10px;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
    height: 280px;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 20px;
    text-align: center;
  }
