  .websitecolour{
    background-color: rgb(245, 234, 245);
  }
  .navheader{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;
  }
  .navwording{
    color: black;
    font-size: large;
  }
  h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
  }
  h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  h3{
    font-family: 'Roboto', sans-serif;
  }
  p{
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
  }
